<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к БД -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgrespostgres</property>

        <!-- Диалект SQL (зависит от БД) -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Автоматическое создание/обновление таблиц -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Вывод SQL в консоль (для отладки) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Указание классов-сущностей (можно через аннотации @Entity) -->
        <!-- <mapping class="com.example.User"/> -->
    </session-factory>
</hibernate-configuration>